{{ define "main" }}
<section class="homepage-projects-list grid-wide">
  <menu class="projects-labs-menu">
    <li><a href="/projects/">All</a></li>
    {{ range $name, $taxonomy := index .Site.Taxonomies "projects/labs" }}
    <li>
      <a href="{{ .Page.Permalink }}" data-count="{{ len $taxonomy }}"
        >{{.Page.Title}}</a
      >
    </li>
    {{ end }}
  </menu>
  <ul role="list">
    {{ $defaultLabel := .Site.Params.Label.AriaGeneralPicture }} {{ range
    (.Paginate ((((.Pages).ByParam "title").Reverse.ByParam
    "date").Reverse)).Pages }} {{ partial "project-preview.html" (dict "project"
    . "defaultHost" .Site.Params.Label.HostsDefault "defaultMediation"
    .Site.Params.Label.DefaultMediation "defaultLabel" $defaultLabel "both"
    .Site.Params.Label.HostsBoth)}} {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
{{ end }}
