{{ define "main" }}
<section class="homepage-projects-list grid-wide">
  <menu class="projects-labs-menu">
    <li><a {{ if eq .RelPermalink "/projects/" }}class="isActive" aria-current="page"{{ end }} href="/projects/">All</a></li>
    {{ $current := .RelPermalink }}
    {{ range $name, $taxonomy := index .Site.Taxonomies "projects/labs" }}
      <li><a href="{{ .Page.Permalink }}" {{ if eq .Page.RelPermalink $current }}class="isActive" aria-current="page"{{ end }}>{{.Page.Title}}</a></li>
    {{ end }}
  </menu>
  <ul role="list">
    {{ $defaultLabel := .Site.Params.Label.AriaGeneralPicture }} {{ range
    (.Paginate ((((.Pages).ByParam "title").Reverse.ByParam
    "date").Reverse)).Pages }} {{ partial "project-preview.html" (dict "project"
    . "defaultMediation"
    .Site.Params.Label.DefaultMediation "defaultLabel" $defaultLabel)}} {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
{{ end }}
