{{ define "main" }}
  <section class="homepage-project grid-full grid" vocab="https://schema.org/" typeof="CreativeWork">
    <header class="project-header grid-wide">
      <h1 class="project-name" property="name">{{ .Params.Title }}</h1>
      {{ with .Params.Intro }}<span class="project-intro">{{ . | markdownify }}</span>{{ end }}
    </header>
    {{ $events := .Params.Events }}
    {{ $members := .Params.Members }}
    {{ $projects := .Params.Projects }}
    {{ $count := partial "columnCount.html" (dict "list" (slice $members $projects $events)) }}
    {{ if gt $count 0 }}
    <aside class="project-relations grid-wide grid grid-v-default half">
      {{ partial "related-members.html" (dict "members" $members "term" "Involved") }}
      {{ partial "related-projects.html" (dict "projects" $projects "term" "Related") }}
      {{ partial "related-events.html" (dict "events" $events "term" "Related") }}
    </aside>
    {{ end }}
    {{ with .Params.gallery -}}
    <div class="project-gallery grid-full gallery">
      <figure class="siema full carousel" id="siema-carousel" data-amount="{{ len . }}">
        {{ range . }}
          <figure>
          {{ partial "picture.html" (dict "p" . "title" .alternativeText "isHalf" false) }}
          <figcaption class="medium">
            {{- .caption -}}
          </figcaption>
          </figure>
        {{ end }}
      </figure>
      <button id="btnPrev" class="btn-blank" aria-label="Previous image">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="18" height="24" viewBox="0 0 18 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h18v24H0z" fill="none"></path>
          <polyline points="15 6 9 12 15 18"></polyline>
        </svg>
      </button>
      <button id="btnNext" class="btn-blank" aria-label="Next image">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="18" height="24" viewBox="0 0 18 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h18v24H0z" fill="none"></path>
          <polyline points="3 6 9 12 3 18"></polyline>
        </svg>
      </button>
    </div>
    <span class="counter" id="counter"></span>
    {{ end }}
    <aside class="project-aside grid-narrow-right-aside">
      {{ with .Params.Category }}<span class="project-type">{{ title . }}</span>{{ end }}
      {{ partial "span-timespan.html" (dict "start" .Params.Start "end" .Params.End) }}
      {{ partial "span-host-link.html" (dict "host" .Params.host "type" "project") }}
      {{ with .Params.location }}<span class="project-location">{{ . }}</span>{{ end }}
    </aside>
    {{ with .Params.ExternalLink }}
    <a class="project-link" href="{{ . }}" rel="noopener noreferrer external" target="_blank"><span>Visit project</span></a>
    {{ end }}
    {{ with .Content }}
    <div class="project-description grid-narrow-right">
      {{ . }}
    </div>
    {{ end }}
    {{ with .Params.Collaborators }}
    <div class="project-collaborators grid-narrow-right">
      <h2 class="related-collaborators">{{ cond (eq (len .) 1) "Collaborator" "Collaborators" }}</h2>
      <ul>
      {{ range sort . "label" }}
        {{ partial "list-item.html" (dict "url" .url "label" .label "class" "collaborator") }}
      {{ end }}
      </ul>
    </div>
    {{ end }}
    {{ with .Params.Press_articles }}
    <div class="project-articles grid-narrow-right">
      <h2 class="related-articles">{{ cond (eq (len .) 1) "Press article" "Press articles" }}</h2>
      <ul>
      {{ range sort . "label" }}
        {{ partial "list-item.html" (dict "url" .url "label" .label "class" "article") }}
      {{ end }}
      </ul>
    </div>
    {{ end }}
    {{ with .Params.Links }}
    <div class="project-links grid-narrow-right">
      <h2 class="related-links">{{ cond (eq (len .) 1) "Link" "Links" }}</h2>
      <ul>
      {{ range sort . "label" }}
        {{ partial "list-item.html" (dict "url" .url "label" .label "class" "link") }}
      {{ end }}
      </ul>
    </div>
    {{ end }}
    <footer class="project-footer grid-narrow-right" role="contentinfo">
      <span>Page published on <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}">{{ .PublishDate.Format "2 January 2006" }}</time>{{ if not (eq (.PublishDate.Format "2 January 2006") (.Lastmod.Format "2 January 2006"))}} and last edited on <time class="article-date" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Lastmod.Format "2 January 2006" }}</time>{{ end }}.</span>
    </footer>
  </section>
{{ end }}