{{ define "main" }}
  <section class="homepage-project grid-full grid">
    <header class="project-header grid-wide">
      <h1 class="project-name">{{ .Params.Title }}</h1>
      {{ with .Params.Intro }}<span class="project-intro">{{ . | markdownify }}</span>{{ end }}
    </header>
    <aside class="project-aside grid-narrow-right-aside">
      <time class="project-start">{{ dateFormat "January 2006" .Params.Start }}</time>
    </aside>
    {{ with .Params.ExternalLink }}
    <a class="project-link" href="{{ . }}"><span>Visit project</span></a>
    {{ end }}
    {{ with .Params.Description }}
    <div class="project-description grid-narrow-right">
      {{ . | markdownify }}
    </div>
    {{ end }}
    {{ with .Params.Members }}
    <div class="grid-wide">
      <h2 class="related-members">Involved members</h2>
      <ul>
      {{ range . }}
        <li class="related-member"><a href="{{ .slug | absURL }}">{{ .name }}</a></li>
      {{ end }}
      </ul>
    </div>
    {{ end }}
    {{ with .Params.Events }}
    <div class="grid-wide">
      <h2 class="related-events">Related events</h2>
      <ul>
      {{ range . }}
        <li class="related-event"><a href="{{ .slug | absURL }}">{{ .title }}</a></li>
      {{ end }}
      </ul>
    </div>
    {{ end }}
  </section>
{{ end }}