// Subsetter: Basic Latin, Latin-1 Supplement, Advanced Punctuation, Uppercase, Lowercase, Numerals, Basic Punctuation, Currency Symbols, Latin Extended-A
// āƀɕđëẝɠɧïʞɭꟿnѺ₱ɋƨTůʌẘχyɀɐƃȼɖɇғǥḥıʝƙɬϻɳϘρϘṟṩȶυṿш×ƴʑḇḅɓ฿вƅċͽ₡ɗƌȡḏēėǝᵉ℮ɚ϶ҽₔʄẜḟ₣ġḡɢʛẖḧʯȉịї⁚ʲḵḻӏĿɱṃϻƞṉₙПϗ○¤ȯōøʘ℗ϙɼ®ẗтώӾỾ

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold-subset.woff2') format('woff2'),
      url('../fonts/Inter-Bold-subset.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold-subset.woff2') format('woff2'),
      url('../fonts/Inter-SemiBold-subset.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium-subset.woff2') format('woff2'),
      url('../fonts/Inter-Medium-subset.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heuristica';
  src: url('../fonts/Heuristica-Regular-subset.woff2') format('woff2'),
      url('../fonts/Heuristica-Regular-subset.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
