@import "./global";
@import "@glidejs/glide/dist/css/glide.core.min";

:root {
  --spacing-0125: calc(var(--margin) * 0.125);
  --spacing-025: calc(var(--margin) * 0.25);
  --spacing-05: calc(var(--margin) * 0.5);
  --spacing-075: calc(var(--margin) * 0.75);
  --spacing-1: calc(var(--margin) * 1);
  --spacing-15: calc(var(--margin) * 1.5);
  --spacing-2: calc(var(--margin) * 2);
  --spacing-3: calc(var(--margin) * 3);
  --spacing-4: calc(var(--margin) * 4);
  --spacing-5: calc(var(--margin) * 5);
  --spacing-6: calc(var(--margin) * 6);
  --spacing-8: calc(var(--margin) * 8);
}

#main {
  padding: var(--spacing-2) 0;
  width: 100vw;
}

picture img {
  width: 20vw;
  height: auto;
}

.until-medium {
  @include query($medium) {
    display: none !important;
    visibility: none !important;
  }
}

.wrapper {
  width: var(--size-wrapper);
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-column-gap: var(--size-gap);

  // & > .homepage-projects-list, & > .homepage-events-list {
  //   overflow-x: hidden; // The titles might be wider than the content, so we cut it off. This might happen when words are too long.
  // }

  &.grid-v-default {
    grid-row-gap: var(--spacing-2);

    @include query($narrow) {
      grid-row-gap: var(--spacing-2);
    }

    @include query($medium) {
      grid-row-gap: var(--spacing-1);
    }
  }

  .grid-full {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .grid-wide {
    @include grid-full();
  }

  .grid-medium {
    grid-column-start: 3;
    grid-column-end: 11;
  }

  .grid-narrow-left,
  .grid-narrow-left-aside,
  .grid-narrow-right,
  .grid-narrow-right-aside {
    @include grid-full();
  }

  .grid-narrow {
    grid-column-start: 3;
    grid-column-end: 11;
  }

  @include query($narrow) {
    .grid-wide {
      @include grid-wide();
    }

    .grid-narrow-left,
    .grid-narrow-left-aside,
    .grid-narrow-right,
    .grid-narrow-right-aside {
      @include grid-wide();
    }
  }

  @include query($medium) {
    .grid-wide {
      @include grid-medium();
    }

    .grid-narrow-left {
      @include grid-narrow-left();
    }

    .grid-narrow-left-aside {
      @include grid-narrow-left-aside();
    }

    .grid-narrow-right {
      @include grid-narrow-right();
    }

    .grid-narrow-right-aside {
      @include grid-narrow-right-aside();
    }
  }
}

.center-h {
  @include center-h();
}

.center {
  @include center();
}

.center-right {
  @include center-right();
}

.center-left {
  @include center-left();
}

.page-header {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr repeat(2, calc(var(--size-wrapper) / 2)) 1fr;
  height: var(--header-height);
  @include gradient-border-bottom(var(--gradient-border-width));
  z-index: $z-index-page-header;

  @include query($medium) {
    border-bottom: 0;
    width: 100vw;
    --nav-width: calc(var(--size-column) * 8 + var(--size-gap) * 7);
    grid-template-columns: 1fr var(--nav-width) 1fr;
    max-height: calc(var(--nav-width) / 4);
  }

  @media print {
    display: none;
  }

  & > * {
    background-color: var(--color-bg);

    &.page-search,
    &.page-logo {
      @include query($medium) {
        border-bottom: 1px solid var(--color-border);
      }
    }
  }

  .trigger-icon {
    height: calc(var(--trigger-size) * 0.5);
    stroke-width: 2px;
    vector-effect: non-scaling-stroke;

    @include query($medium) {
      height: calc(var(--size-5) * 1.1);
    }

    .s0 {
      opacity: 1;
      transition: opacity var(--transition) 0.15s;
    }

    .s1 {
      opacity: 0;
      transition: opacity var(--transition) 0s;
    }

    &.isOpen {
      .s0 {
        opacity: 0;
        transition: opacity var(--transition) 0s;
      }

      .s1 {
        opacity: 1;
        transition: opacity var(--transition) 0.15s;
      }
    }
  }

  .page-logo {
    grid-column-start: 2;

    a {
      @include center-left();

      .logo {
        height: calc(var(--header-height) * 0.7);
        max-height: 140px;
        // margin-left: calc(var(--header-height) * 0.2);
      }
    }

    @include query($medium) {
      grid-column-start: auto;

      a {
        @include center(); // TODO
        align-items: flex-start;
        flex-direction: column;
        text-align: left;

        .logo {
          // height: calc(var(--header-height) * 0.6);
          height: 50%;
          margin-left: calc(var(--header-height) * 0.3);
        }
      }
    }

    @include query($wide) {
      a {
        .logo {
          // height: calc(var(--header-height) * 0.6);
          // margin-left: calc(var(--header-height) * 0.2);
        }
      }
    }
  }

  .page-search {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    z-index: $z-index-page-search;

    @include query($medium) {
      background-color: var(--color-bg);
      position: relative;
      width: 100%;
      z-index: $z-index-page-search-desktop;
    }

    .search-trigger {
      @include mobile-trigger();
      left: var(--trigger-distance);
      right: auto;

      @include query($medium) {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 0;
        border: none;
        background-color: transparent;
        left: auto;
        bottom: auto;
      }

      &:hover,
      &:focus-visible {
        outline: none;
        color: var(--color-gradient-a);
      }
    }

    #page-search-input {
      position: absolute;
      right: 0;
      top: 0;
      transition:
        width var(--transition),
        border-bottom-color var(--transition),
        transform var(--transition);
      border: none;
      height: var(--header-height);
      outline: none;
      border-bottom: 1px solid var(--color-border);
      z-index: $z-index-search-input;
      text-indent: var(--spacing-1);
      width: 100vw;
      transform: none;
      -webkit-appearance: none;
      background-color: var(--color-bg);
      border-radius: 0;

      @include query($medium) {
        right: 100%;
        right: auto;
        top: auto;
        height: calc(100% + 1px);
        width: 0;
        border-left: 1px solid var(--color-border);
        transform: translateX(-1.5px); // TODO
      }

      &:focus,
      &.hasTerm {
        transform: translateX(100vw);

        @include query($medium) {
          transform: translateX(-100%);
          width: calc(var(--size-column) * 8 + var(--size-gap) * 7 + 2px);
        }
      }

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        -webkit-appearance: none;
      }
    }

    .search-results {
      position: absolute;
      z-index: $z-index-search-results;
      background-color: var(--color-bg);
      width: 100vw;
      height: calc(100vh - var(--header-height));
      right: 0;
      top: var(--header-height);
      opacity: 0;
      pointer-events: none;
      transition: opacity var(--transition);
      padding: var(--spacing-2);
      padding-bottom: calc(
        var(--trigger-size) + var(--trigger-distance) + var(--spacing-1)
      );
      overflow-y: auto;

      @include query($medium) {
        padding-bottom: var(--spacing-2);
      }

      &.hasTerm {
        transform: translateX(100vw);
        opacity: 1;
        pointer-events: all;

        @include query($medium) {
          transform: none;
        }
      }

      section:not(:first-child) {
        margin-top: var(--spacing-3);

        @include query($wide) {
          margin-top: var(--spacing-2);
        }
      }
    }
  }

  .page-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: $z-index-page-menu;

    @include query($medium) {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
    }
  }

  .page-menu-list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-bg);
    z-index: $z-index-page-menu-list;
    width: 100vw;
    height: 100vh;
    transition: transform var(--transition);
    transform: translateX(100vw);

    &.isOpen {
      transform: translateX(0);
    }

    @include query($medium) {
      transform: translateX(0);
      transition: transform 0;
    }

    @include query($medium) {
      position: relative;
      background-color: transparent;
      width: 100%;
      height: 100%;
    }

    .page-menu-items {
      display: grid;
      grid-template-rows: var(--header-height) repeat(5, 1fr) calc(
          var(--trigger-size) + var(--spacing-1)
        );
      height: 100%;

      @include query($medium) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
      }

      li {
        width: 100%;
        height: 100%;

        &:not(.social) a {
          border-bottom: 1px solid var(--color-border);

          // &:hover {
          //   background-color: var(--color-gradient-a);
          //   color: #fff;
          // }

          @include query($medium) {
            border-right: 1px solid var(--color-border);
          }
        }

        &.header a {
          @include gradient-border-bottom(var(--gradient-border-width));
        }

        &.social {
          display: grid;
          grid-auto-flow: column;
          justify-items: center;
          align-items: center;
        }

        @include query($medium) {
          &:first-child a {
            border-left: 1px solid var(--color-border);
          }
        }
      }
    }
  }

  .page-menu-trigger {
    @include mobile-trigger();
    right: var(--trigger-distance);
    left: auto;

    &[aria-pressed="true"] {
      outline: none;
    }
  }

  .page-menu-items *:not(.social) a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--color-bg);

    & > * {
      width: var(--size-wrapper);

      @include query($medium) {
        width: auto;
      }
    }
  }

  .page-menu-items *:not(.header) a {
    position: relative;
    background-color: var(--color-bg);
    transition:
      color var(--transition),
      background-color var(--transition),
      border-bottom-color var(--transition),
      border-right-color var(--transition);

    &.isActive:not(.logo) {
      color: var(--color-text-invert);
      background-color: var(--color-bg-secondary);
      border-right: 1px solid var(--color-bg-secondary) !important;
      border-bottom: 1px solid var(--color-bg-secondary) !important;
    }

    &:not(.isActive):not(.logo):hover {
      // @include gradient-text();
      color: #fff !important;
      background-color: var(--color-gradient-a);
      border-bottom-color: var(--color-gradient-a) !important;
      border-right-color: var(--color-gradient-a) !important;
    }
  }

  .page-logo a {
    height: 100%;
    width: 100%;

    @include query($medium) {
      border-right: 1px solid var(--color-border);
      &:not(.isActive) {
      }
    }

    &.isActive {
      // background-color: transparent !important;

      @include query($medium) {
        // background-color: var(--color-bg-secondary);
        fill: var(--color-text-invert);
        position: relative;
        z-index: $z-index-header-items;
      }
    }
  }

  .page-menu-items .header div {
    height: calc(var(--header-height) * 0.7);

    svg {
      height: 100%;
    }
  }
}

.home-intro {
  margin: var(--spacing-2) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .intro {
    margin-bottom: var(--spacing-2);
  }
}

.home-features {
  margin: var(--spacing-2) 0;
}

.project-feature {
  --medium-offset: var(--spacing-1);

  margin-bottom: var(--spacing-3);

  @include query($medium) {
    margin-bottom: calc(var(--medium-offset) + var(--spacing-2));
    // margin-bottom: calc(9rem + var(--spacing-3));
  }

  .feature-link {
    display: block;
    // overflow: hidden;
    position: relative;
    height: 100%;

    @include query($medium) {
      aspect-ratio: 21 / 9;
    }

    &:hover {
      color: var(--color-gradient-a);

      img {
        transform: scale(1.03);
      }
    }
  }

  .feature-title {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;

    @include query($medium) {
      padding: 0 var(--spacing-1);
      text-align: right;
      justify-content: flex-end;
    }

    .feature-frame {
      width: 100%;

      @include query($medium) {
        background-color: var(--color-bg);
        padding: var(--spacing-05) var(--spacing-1) var(--spacing-05)
          var(--spacing-1);
        border: 2px solid var(--color-bg-secondary);
        margin-bottom: calc(var(--medium-offset) * -1);
        width: auto;
        max-width: 70%;
      }
    }

    .project-title {
      // width: 80%;
      @include query($medium) {
        padding-left: var(--spacing-3);
      }
    }
  }

  .feature-image {
    aspect-ratio: 21 / 9;
    overflow: hidden;

    @include query($medium) {
      opacity: 1;
      position: absolute;
      left: 0;
      // top: 0;
      // top: 50%;
      // transform: translateY(-50%);
      width: 100%;
      height: auto;
      z-index: 0;
      // overflow: hidden;
    }

    img {
      width: 100%;
      // transform: scale(1.03);
      // overflow: hidden;
      transition: transform var(--transition);
    }
  }
}

.homepage-projects-list,
.homepage-events-list {
  .pagination {
    margin-top: var(--spacing-4);
    display: flex;
    justify-content: center;
    column-gap: var(--spacing-2);

    @include query($medium) {
      column-gap: var(--spacing-1);
    }
  }
}

.project-preview,
.event-preview {
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }

  // &:not(:first-child) .preview-link {
  //   padding-bottom: var(--spacing-05);
  // }

  .preview-link {
    display: block;
    overflow: hidden;
    padding: var(--spacing-15) 0;

    @include query($medium) {
      padding: var(--spacing-05) 0;
    }

    .project-title,
    .event-title {
      // The titles might be wider than the content, so we cut it off
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      padding-bottom: var(--spacing-0125);
      z-index: 1;
      position: relative;
    }

    .preview-image {
      opacity: 0;
      position: absolute;
      transform: translate(-50%, -50%);
      width: calc(min(50vw, 400px));
      height: auto;
      pointer-events: none;
      z-index: 0;
    }

    & > * {
      transition: opacity 0;
    }

    .footer {
      display: flex;
      justify-content: space-between;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      z-index: 1;
      position: relative;
      padding-top: var(--spacing-025);

      @include query($medium) {
        padding-top: var(--spacing-0125);
      }

      & > * {
        &:nth-child(2) {
          text-align: center;
        }

        &:last-child {
          text-align: right;
        }
      }
    }

    @media (hover: hover) {
      &.hasImage:hover {
        .preview-image {
          opacity: 0.8;
        }
      }
    }
  }
}

.about-header {
  @media print {
    padding: 0;
    margin: var(--spacing-05) 0;
  }

  @include query($narrow) {
    position: relative;
    margin: var(--spacing-2) 0;
    padding: var(--spacing-2) 0;

    &::before {
      grid-row-start: 1;
      grid-row-end: 2;
      content: "";
      display: block;
      border: var(--gradient-border-width) solid;
      border-image-slice: 1;
      z-index: $z-index-about-header;
      border-image-source: linear-gradient(
        90deg,
        var(--color-gradient-a) 0%,
        var(--color-gradient-o) 100%
      ); // TODO
      @include grid-medium();

      @media print {
        display: none;
      }
    }
  }

  .about-intro {
    grid-row-start: 1;
    grid-row-end: 2;
    padding: var(--spacing-2) 0;
    z-index: $z-index-about-intro;

    @include query($narrow) {
      & > span {
        box-decoration-break: clone;
        background-color: var(--color-white);
        padding: var(--outline-spacing-high);

        @media print {
          background-color: transparent;
          padding: 0;
        }
      }
    }
  }
}

picture,
img {
  max-width: 100%;
}

.member-list-header,
.alumni-list-header {
  margin-bottom: var(--spacing-1);
}

.members-labs-menu,
.events-labs-menu,
.projects-labs-menu {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: var(--spacing-1);
  font-size: var(--size-6);
  font-weight: $font-weight-medium;
  line-height: 1.1;
  margin-bottom: var(--spacing-1);

  @include query($medium) {
    margin-bottom: var(--spacing-075);
  }

  a {
    color: var(--color-text);
    text-decoration: none;
    transition: color var(--transition);

    &.isActive {
      color: var(--color-gradient-a);
    }

    &:hover {
      color: var(--color-gradient-a);
    }
  }
}

.homepage-alumni-list {
  margin-top: var(--spacing-2);
}

.member-list {
  row-gap: var(--spacing-3);

  @include query($medium) {
    row-gap: var(--spacing-1);
  }

  & > * {
    grid-column: auto / span 12;
    display: inline-block;

    @include query($narrow) {
      grid-column: auto / span 6;
    }

    @include query($medium) {
      grid-column: auto / span 3;
    }

    .member-preview {
      display: grid;
      column-gap: var(--spacing-3);
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;

      @include query($narrow) {
        column-gap: var(--spacing-1);
      }

      picture {
        grid-row-end: span 2;
      }

      @include query($medium) {
        display: block; // Necessary for gradient effect
      }

      img {
        --width-preview: 80px;

        @include query($narrow) {
          --width-preview: 120px;
        }

        @include query($medium) {
          --width-preview: 160px;
        }
        width: var(--width-preview);
        height: calc(var(--width-preview) * 1.3);
        object-fit: cover;
        object-position: 50% 50%;
        display: block;
        margin-bottom: var(--spacing-025);
      }

      .member-name {
        margin-bottom: var(--spacing-0125);
      }
    }
  }
}

.alumni-list {
  row-gap: var(--spacing-1);

  & > * {
    grid-column: auto / span 12;
    display: inline-block;

    @include query($medium) {
      grid-column: auto / span 3;
    }
  }
}

.alumni-list {
  .alumni-preview {
    display: block; // Necessary for gradient effect
  }
}

.homepage-member {
  .member-header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    margin-top: var(--spacing-3);
    z-index: $z-index-member-header;

    .member-role {
      margin-top: var(--spacing-025);
    }
  }

  $member-header-end: 3;

  .member-image {
    grid-row-start: 1;
    grid-row-end: $member-header-end;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-bottom: var(
      --spacing-05
    ); // This is used to have a min height of the block
    z-index: $z-index-member-header;

    @include query($medium) {
      grid-row-start: 1;
      grid-row-end: $member-header-end;
      grid-column-start: 2;
      grid-column-end: 4;
    }

    img {
      border: var(--outline-spacing-high) solid var(--color-white);
      background-color: var(--color-white);

      @media print {
        border: none;
        background-color: transparent;
      }
    }
  }

  .member-aside {
    // margin-top: var(--spacing-0125);
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    grid-row-start: $member-header-end;
    align-self: start;
    justify-content: end;
    column-gap: var(--spacing-2);

    @include query($medium) {
      grid-auto-flow: row;
    }

    @media print {
      display: none;
    }
  }

  .member-description {
    grid-row-start: calc(#{$member-header-end} + 1);
    align-self: start;

    @include query($medium) {
      grid-row-start: $member-header-end;
    }
  }

  // .member-role {
  //   grid-row-start: 2;
  //   grid-row-end: 3;
  // }

  &::before {
    margin-top: var(--spacing-2);
    // grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    // grid-column-start: 1;
    // grid-column-end: 3;
    content: "";
    display: block;
    // position: absolute;
    // left: $wide-margin;
    // right: $wide-margin;
    // bottom: 0;
    // height: 100%;
    border: 10px solid;
    border-image-slice: 1;
    border-width: var(--gradient-border-width);
    z-index: $z-index-member-header-before;
    border-image-source: linear-gradient(
      90deg,
      var(--color-gradient-a) 0%,
      var(--color-gradient-o) 100%
    ); // TODO
    animation: 20s rotate linear infinite;
    @include grid-wide();

    @include query($narrow) {
      @include grid-wide();
    }

    @include query($medium) {
      @include grid-medium();
    }

    @media print {
      display: none;
    }
  }
}

.homepage-project {
  .project-intro {
    margin-top: var(--spacing-1);

    @include query($narrow) {
      margin-top: var(--spacing-05);
    }
  }

  .project-aside {
    & > * {
      display: block;
    }
  }

  .project-share {
    @include share-buttons();

    @media print {
      display: none;
    }
  }
}

.homepage-project .project-subtitle,
.homepage-event .event-subtitle {
  margin-top: var(--spacing-05);
  margin-bottom: var(--spacing-2);

  @include query($narrow) {
    margin-top: var(--spacing-05);
    margin-bottom: var(--spacing-1);
  }
}

.homepage-project,
.homepage-event {
  .project-header,
  .event-header {
    margin-top: var(--spacing-1);
  }

  .project-header-image,
  .event-header-image {
    @include center();

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
}

.homepage-member,
.homepage-event,
.homepage-project {
  row-gap: var(--spacing-2);

  .event-header-bar,
  .project-header-bar {
    display: grid;
    margin-top: var(--spacing-2);
    grid-template-columns: 3fr 2fr;
    align-items: end;

    @include query($narrow) {
      margin-top: var(--spacing-1);
    }

    .project-link,
    .event-link {
      grid-column-start: 2;
      justify-self: end;
      display: flex; // This is needed for the button. Should fix that.
      align-items: flex-start;

      @media print {
        display: none;
      }
    }
  }
}

.homepage-event {
  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: var(--spacing-1);
    margin-top: var(--spacing-025);
  }

  .event-intro {
    margin-top: var(--spacing-05);
  }

  .timezone-tabs {
    .timezone-content {
      line-height: 1;

      .event-time {
        margin-top: var(--spacing-05);
      }
    }
  }

  .event-share {
    @include share-buttons();

    @media print {
      display: none;
    }
  }
}

.event-relations,
.project-relations,
.member-relations,
.project-gallery {
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);

  @media print {
    border: none;
  }

  @include query($narrow) {
    padding-top: var(--spacing-1);
    padding-bottom: var(--spacing-1);
  }

  .title {
    margin-bottom: var(--spacing-0125);
  }
}

.page-footer {
  margin-top: var(--spacing-2);
  padding: var(--spacing-5) 0 var(--spacing-8);
  background-color: var(--color-bg-secondary);
  width: 100vw;

  @media print {
    display: none;
  }

  @include query($narrow) {
    padding: var(--spacing-4) 0 var(--spacing-8);
  }

  @include query($medium) {
    padding: var(--spacing-4) 0;
  }

  @include query($wide) {
    padding: var(--spacing-2) 0;
  }

  .footer-content {
    margin: 0 auto;
    grid-row-gap: var(--spacing-4);
    grid-template-areas:
      ". . . . logos logos logos logos . . . ."
      "info info info info info info info info info info info info"
      "sitemap sitemap sitemap sitemap sitemap sitemap sitemap sitemap sitemap sitemap sitemap sitemap"
      "social social social social social social social social social social social social"
      "update update update update update update update update update update update update";

    .footer-logos {
      grid-area: logos;
      fill: var(--color-text-invert);
      width: 100%;
      max-width: 100%;
    }

    .footer-info {
      grid-area: info;
    }

    .footer-sitemap {
      grid-area: sitemap;
      display: flex;
      justify-content: space-between;
      gap: var(--spacing-1) var(--spacing-2);
      flex-wrap: wrap;

      @include query($medium) {
        gap: var(--spacing-05);
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        justify-content: space-around;
      }

      @include query($wide) {
        gap: var(--spacing-05);
        justify-content: flex-start;
      }
    }

    .footer-social {
      grid-area: social;
      display: flex;
      justify-content: center;
      gap: var(--spacing-1) var(--spacing-2);
      flex-wrap: wrap;

      @include query($medium) {
        gap: var(--spacing-05);
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }

    .footer-update {
      grid-area: update;
      text-align: center;

      @include query($medium) {
        text-align: left;
      }
    }

    @include query($narrow) {
      grid-row-gap: var(--spacing-2);
      grid-template-areas:
        "logos logos logos logos . . info info info info info info"
        ". . sitemap sitemap sitemap sitemap sitemap sitemap sitemap sitemap . ."
        "social social social social social social social social social social social social"
        "update update update update update update update update update update update update";
    }

    @include query($medium) {
      grid-template-areas:
        "logos logos . info info info info . sitemap sitemap . social"
        "update update update update . . . . sitemap sitemap . social";
    }
  }
}

.project-gallery,
.event-gallery {
  position: relative;
  width: 100%;
  z-index: $z-index-gallery;
  max-width: 100%;
  padding-top: 0;
  padding-bottom: var(--spacing-05);

  @media print {
    display: none;
  }

  .gallery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-05);
    margin-top: var(--spacing-05);

    nav,
    nav button {
      display: flex;
      align-items: center;
    }

    .gallery-counter {
      white-space: nowrap;
    }
  }

  .btn-blank {
    text-decoration: none;
    color: var(--color-fg);
    transition: color var(--transition);
    padding: 0;
    padding-right: var(--spacing-05);
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--color-interactive);
    }

    transition: opacity var(--transition);

    &.end {
      opacity: 0.6;
    }

    svg {
      height: calc(var(--size-6) * 1.2);

      polyline,
      line {
        stroke-width: 2px;
        vector-effect: non-scaling-stroke;
      }
    }
  }

  .carousel {
    cursor: grab;
  }
}

.project-gallery-single,
.event-gallery-single {
  padding-bottom: var(--spacing-05);

  &.without-caption {
    padding-bottom: var(--spacing-05);
  }
}

.project-gallery,
.project-gallery-single,
.event-gallery,
.event-gallery-single {
  .without-caption {
    padding-bottom: var(--spacing-05);
  }

  img {
    width: 100%;
    height: auto;
    border: 1px solid var(--color-outline);
    vertical-align: middle;
    width: 100%;
    height: 600px;
    object-fit: contain;
  }

  figcaption {
    margin-top: var(--spacing-025);
    text-align: center;
  }
}
