@import "./global";

:root {
  --spacing-0125: calc(var(--margin) * 0.125);
  --spacing-025: calc(var(--margin) * 0.25);
  --spacing-05: calc(var(--margin) * 0.5);
  --spacing-1: calc(var(--margin) * 1);
  --spacing-15: calc(var(--margin) * 1.5);
  --spacing-2: calc(var(--margin) * 2);
  --spacing-3: calc(var(--margin) * 3);
  --spacing-4: calc(var(--margin) * 4);
  --spacing-5: calc(var(--margin) * 5);
  --spacing-6: calc(var(--margin) * 6);
  --spacing-8: calc(var(--margin) * 8);
  --border-area: 1px solid var(--color-fg);
  --border-area--side: 10px solid var(--color-fg);
  --border-area--top: 5px solid var(--color-fg);
  --border-link: 1px solid var(--color-fg);
}

#main {
  padding: var(--spacing-2) 0;
  width: 100vw;
}

picture img {
  width: 20vw;
  height: auto;
}

.wrapper {
  width: var(--size-wrapper);
}

.grid {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-column-gap: $size-gap;

  &.grid-v-default {
    grid-row-gap: var(--spacing-4);
  }

  .grid-full {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .grid-wide {
    @include grid-full();
  }

  .grid-medium {
    grid-column-start: 3;
    grid-column-end: 11;
  }

  .grid-narrow-left {
    grid-column-start: 3;
    grid-column-end: 9;
  }

  .grid-narrow-left-aside {
    grid-column-start: 9;
    grid-column-end: 11;
  }

  .grid-narrow-right {
    grid-column-start: 5;
    grid-column-end: 11;
  }

  .grid-narrow-right-aside {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .grid-narrow {
    grid-column-start: 3;
    grid-column-end: 11;
  }

  @include query($narrow) {
    .grid-wide {
      @include grid-wide();
    }
  }

  @include query($medium) {
    .grid-wide {
      @include grid-medium();
    }
  }
}

.center-h {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr calc(var(--size-column) * 8 + var(--size-gap) * 7) 1fr;
  --header-height: 15vh;
  height: var(--header-height);

  & > * {
    background-color: var(--color-bg);

    &:first-child, &:last-child {
      border-bottom: 1px solid $color-gray;
    }
  }

  .page-search {
    background-color: var(--color-bg);
    position: relative;

    .search-trigger {
      width: 100%;
      height: 100%;
      border-radius: 0;
      border: none;
      background-color: transparent;

      .icon {
        height: calc(var(--size-6) * 1.1);
        stroke-width: 2.5px;
        vector-effect: non-scaling-stroke;
      }

      &:hover, &:focus {
        outline: none;
        // background-image: linear-gradient(90deg, #FF4800, #FFB600);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;

        color: red;
      }
    }

    #page-search-input {
      position: absolute;
      right: 100%;
      transition: width 0.3s ease, border-bottom-color 0.3s ease;
      width: 0;
      border: none;
      height: calc(100% + 2px);
      outline: none;
      border-bottom: 1px solid $color-gray;
      border-left: 1px solid $color-gray;
      z-index: 999;
      text-indent: var(--spacing-1);

      &:focus, &.hasTerm {
        width: calc(var(--size-column) * 8 + var(--size-gap) * 7);
        border-bottom-color: var(--color-bg-black);
      }
    }

    .search-results {
      position: absolute;
      z-index: 999;
      background-color: #fff;
      width: 100vw;
      height: calc(100vh - var(--header-height) - 1px);
      right: 0;
      top: calc(100% + 1px);
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;
      padding: var(--spacing-2);
      overflow-y: auto;

      &.hasTerm {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  .page-menu .page-menu-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;

    li {
      width: 100%;
      height: 100%;

      a {
        border-bottom: 1px solid $color-gray;
        border-right: 1px solid $color-gray;
      }

      &:first-child a {
        border-left: 1px solid $color-gray;
      }
    }
  }

  .page-logo a, .page-menu-items a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--color-bg);

    &.isActive {
      color: #fff;

      span {
        position: relative;
        z-index: 1;
      }

      &::after {
        background-color: black;
        content: '';
        position: absolute;
        right: -1px;
        bottom: -1px;
        top: 0;
        left: -1px;
        z-index: 0;
      }
    }

    &:not(.isActive):hover {
      background-image: linear-gradient(90deg, #FF4800, #FFB600);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.home-intro {
  margin: var(--spacing-2) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .intro {
    margin-bottom: var(--spacing-2);
  }
}

.home-projects {
  margin: var(--spacing-2) 0;
  position: relative;

  h3 {
    position: absolute;
    // writing-mode: vertical-lr;
    transform: rotate(-45deg) translateX(-50%) translateY(-200%);
    // text-align: center;
    transform-origin: left bottom;
    // left: 100%; // calc(var(--spacing-2) * -1);
    // top: calc(var(--spacing-1) * 1);
  }
}

.project-preview, .event-preview {
  padding: var(--spacing-025) 0;
  margin: var(--spacing-05) 0;

  footer {
    display: flex;
    justify-content: space-between;
  }
}

.about-header {
  position: relative;
  padding: var(--spacing-2) 0;
  margin: var(--spacing-2) 0;

  &::before {
    grid-row-start: 1;
    grid-row-end: 2;
    content: '';
    display: block;
    // position: absolute;
    // left: $wide-margin;
    // right: $wide-margin;
    // bottom: 0;
    // height: 100%;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    z-index: 0;
    --angle: 90deg;
    border-image-source: linear-gradient(90deg, #FFB600 0%, #FF4800 100%);
    // border-image-source: linear-gradient(90deg, #FFB600 0%, #FF4800 100%);
    // animation: 20s rotate linear infinite;
    // border-image-source: radial-gradient(circle, #FFB600 60%, #FF4800 100%);
    @include grid-medium();

    @include query($narrow) {
      @include grid-wide();
    }

    @include query($medium) {
      @include grid-medium();
    }
  }

  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }

  .about-intro {
    grid-row-start: 1;
    grid-row-end: 2;
    padding: var(--spacing-2) 0;
    z-index: 1;
  }
}

picture, img {
  max-width: 100%;
}

.member-list {
  row-gap: var(--spacing-1);

  & > * {
    grid-column: auto / span 3;
    display: inline-block;

    .member-preview {
      display: block;

      img {
        --width-preview: 160px;
        width: var(--width-preview);
        height: calc(var(--width-preview) * 1.3);
        object-fit: cover;
        object-position: 50% 50%;
        display: block;
        margin-bottom: var(--spacing-025);
      }

      .member-name {
        margin-bottom: var(--spacing-0125);
      }
    }
  }
}

.alumni-list {
  row-gap: var(--spacing-1);

  & > * {
    grid-column: auto / span 3;
    display: inline-block;
  }
}

.homepage-member {
  .member-header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    margin-top: var(--spacing-3);
    z-index: 2;

    .member-role {
      margin-top: var(--spacing-05);
    }
  }

  .member-image {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-bottom: var(--spacing-05); // This is used to have a min height of the block

    img {
      filter: grayscale(100%);
    }
  }

  .member-aside {
    // margin-top: var(--spacing-0125);
    text-align: right;
  }

  // .member-role {
  //   grid-row-start: 2;
  //   grid-row-end: 3;
  // }

  &::before {
    margin-top: var(--spacing-2);
    // grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    // grid-column-start: 1;
    // grid-column-end: 3;
    content: '';
    display: block;
    // position: absolute;
    // left: $wide-margin;
    // right: $wide-margin;
    // bottom: 0;
    // height: 100%;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    z-index: 0;
    --angle: 90deg;
    border-image-source: linear-gradient(var(--angle), #FFB600 0%, #FF4800 100%);
    // border-image-source: linear-gradient(90deg, #FFB600 0%, #FF4800 100%);
    animation: 20s rotate linear infinite;
    // border-image-source: radial-gradient(circle, #FFB600 60%, #FF4800 100%);
    @include grid-medium();

    @include query($narrow) {
      @include grid-wide();
    }

    @include query($medium) {
      @include grid-medium();
    }
  }
}

.homepage-project {
  .project-intro {
    margin-top: var(--spacing-05);
  }

  .project-link {
    position: fixed;
    right: -200px;
    top: calc(15vh + var(--spacing-2));
    border: 3px solid #FF4800;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover, &:focus {
      background-color: #222;
      color: #fff;
      border-color: #222;
    }

    span {
      text-align: right;
      display: block;
      width: 50%;
      padding-right: var(--spacing-05);
    }
  }
}

.homepage-member, .homepage-event, .homepage-project {
  row-gap: var(--spacing-2);
}

.homepage-event {
  .event-intro {
    margin-top: var(--spacing-05);
  }
}

.related-events, .related-projects, .related-members {
  border-top: 1px solid $color-gray;
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-05);
}

.related-event, .related-project, .rellated-member {
  &:not(:last-child) {
    padding-bottom: var(--spacing-05);
  }
  // padding-bottom: var(--spacing-05);
}

.page-footer {
  margin-top: var(--spacing-2);
  padding: var(--spacing-2) 0;
  background-color: var(--color-bg-black);
  color: #fff;
  width: 100vw;
  // display: grid;
  // grid-template-columns: 1fr calc(var(--size-column) * 8 + var(--size-gap) * 7) 1fr;

  .footer-content {
    margin: 0 auto;
    grid-row-gap: var(--spacing-2);

    grid-template-areas:
      "logos logos logos logos info info info info info info info info"
      "sitemap sitemap sitemap sitemap social social update update update update update update";
    
    .footer-logos {
      grid-area: logos;
    }

    .footer-info {
      grid-area: info;
    }

    .footer-sitemap {
      grid-area: sitemap;
    }

    .footer-social {
      grid-area: social;
    }

    .footer-update {
      grid-area: update;
      text-align: right;
    }

    @include query($medium) {
      grid-template-areas: "logos logos info info info . . sitemap sitemap social update update";
    }
  }
}