@import "./global";

::selection {
  color: var(--color-text-invert);
  background-color: var(--color-text);
  text-shadow: none;
  -webkit-text-stroke: 0;
}

.page-footer {
  ::selection {
    color: var(--color-text);
    background-color: var(--color-bg);
  }
}

@mixin text-tag () {
  font-size: var(--size-8);
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@mixin text-footer () {
  font-size: var(--size-8);
  text-transform: uppercase;
  color: var(--color-mute);
  font-weight: $font-weight-medium;
  letter-spacing: 0.1em;
}

*[role=alert] {
  font-size: var(--size-6);
  color: var(--color-mute);
  font-weight: $font-weight-medium;
  border-bottom: 1px solid var(--color-border);
  border-top: 1px solid var(--color-border);
  padding: var(--spacing-05) 0;
  margin-bottom: var(--spacing-05);
  display: block;
}

.text-center {
  text-align: center;
}

.footer-social a .icon {
  stroke: var(--color-text-invert);
}

a, button {
  color: var(--color-text);
  text-decoration: underline;

  .icon {
    fill: none;
    stroke: var(--color-text);
  }

  &:not(.preview-link):not(.feature-link):not(.isActive):not(.btn-tab) { // Fix
    &:hover, &:focus {
      @include gradient-text();
      text-decoration: none;

      &::selection {
        background: none;
      }
    }
  }

  &:hover, &:focus {
    .icon {
      stroke: url("#icon-gradient");
    }
  }
}

h1 {
  font-size: var(--font-size-l);
}

.subtitle {
  font-size: var(--font-size-l);
  font-weight: $font-weight-bold;
}

p, h2, h3, ul{
  font-size: var(--font-size-l);
  line-height: 1.7;
}

@mixin text-default () {
  font-size: var(--font-size-m);
  line-height: 1.8;
}

p {
  @include text-default();
}

h2 {
  margin-top: 3em;
  line-height: 1.4;

  &:first-child {
    margin-top: 0;
  }
}

h3 {
  font-size: var(--font-size-s);
  font-weight: $font-weight-default;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 2em;
  margin-bottom: 0.5em;
  line-height: 1.3;
}

h2 + h3 {
  margin-top: 1em;
}

ul {
  list-style: none;
  margin: 0;
}

.btn {
  font-size: var(--size-6);
  text-decoration: none;
  padding: 0 var(--spacing-2) var(--spacing-05) var(--spacing-2);
  font-weight: $font-weight-medium;
  line-height: 1;
  @include gradient-border-bottom(1.5px);
  background-color: transparent;

  &:hover, &:focus {
    color: var(--color-text);
  }
}

.btn-tab {
  text-decoration: none;
  padding: 0 var(--spacing-1) var(--spacing-025) var(--spacing-1);
  line-height: 1;
  background-color: transparent;
  border: none;
  transition: border-bottom-color 0.3s ease;
  border-bottom: 1.5px solid transparent;

  &[aria-selected=true] {
    @include gradient-border-bottom(1.5px);
  }

  &:hover, &:focus {
    color: var(--color-text);
    border-bottom-color: var(--color-text);
  }
}

.page-menu-items, .page-current-section {
  font-size: var(--size-2);
  font-weight: $font-weight-medium;

  @include query($medium) {
    font-size: var(--size-6);
    font-weight: $font-weight-medium;
  }

  a {
    text-decoration: none;
  }
}

.page-logo a {
  text-decoration: none;
  font-family: $font-family-serif;
  font-size: var(--size-1);

  @include query($medium) {
    font-size: var(--size-4);
  }
}

.search-results {
  h2 {
    margin-bottom: var(--spacing-05);
  }

  a {
    text-decoration: none;
    margin-bottom: var(--spacing-1);
    display: block;

    &:focus {
      outline: none;
    }

    .result-title {
      font-size: var(--size-3);
      font-weight: $font-weight-bold;
      line-height: 1.1;
      display: block;
      margin-bottom: var(--spacing-025);
    }

    .result-subtitle {
      font-size: var(--size-6);
      font-weight: $font-weight-medium;
      line-height: 1.3;
      display: block;
    }

    .result-footer {
      @include text-footer();
      display: block;
      margin-top: var(--spacing-025);
    }
  }
}

#page-search-input {
  font-size: var(--size-2);
  font-weight: $font-weight-bold;

  &::placeholder {
    font-weight: $font-weight-medium;
    color: var(--color-mute);
  }
}

.intro, .about-intro {
  font-family: $font-family-serif;
  font-weight: $font-weight-medium;
  font-size: var(--size-2);
  text-align: center;
  line-height: 1.2;
}

.member-preview, .alumni-preview {
  text-decoration: none;

  .member-name, .alumni-name {
    font-size: var(--size-5);
    font-weight: $font-weight-medium;
    line-height: 1.1;
    display: block;
  }

  .member-role, .alumni-role {
    font-size: var(--size-6);
    font-weight: $font-weight-medium;
    line-height: 1.1;
    display: block;
  }

  img {
    font-size: var(--size-6);
    // filter: grayscale(100%);
  }
}

// .alumni-preview {
//   text-decoration: none;
//   display: block;

//   .alumni-name {
//     font-size: var(--size-6);
//     font-weight: $font-weight-medium;
//     line-height: 1.1;
//     display: block;
//   }
// }

.homepage-member {
  .member-name {
    font-size: var(--size-1);
    line-height: 1.05;
  }

  .member-role {
    font-size: var(--size-5);
    font-weight: $font-weight-bold;
    line-height: 1.1;
    display: block;
  }

  .member-description {
    font-size: var(--size-6);
  }

  .member-aside a {
    font-size: var(--size-4);
    text-decoration: none;

    svg {
      height: calc(var(--size-4) * 0.9);
      stroke-width: 1.8px;
      vector-effect: non-scaling-stroke;
    }
  }

  .member-intro {
    margin-bottom: var(--spacing-1);
  }
}

.related-events, .related-projects, .related-members, .box-item, .related-links, .related-collaborators {
  line-height: 1;

  .title {
    // font-size: var(--size-5);
    // font-weight: $font-weight-bold;
    display: block;
    @include text-footer();
  }
}

.related-events-list, .related-projects-list, .related-members-list, .box-item .text, .related-links-list, .related-collaborators-list {
  font-size: var(--size-6);
  font-weight: $font-weight-medium;
  line-height: 1.6;

  dd:not(.related-links) { // These are the lists at the top of an event or project
    display: inline;

    &::after {
      content: ", ";
    }

    &:last-of-type::after {
      content: "";
    }

    &:nth-last-of-type(2)::after {
      content: " and ";
    }

    &:first-of-type:nth-last-of-type(2)::after {
      content: " and ";
    }
  }

  dd.related-links { // These are the links at the end of an event or project
    margin-bottom: var(--spacing-05);
    line-height: 1.2;
  }

  a {
    text-decoration: none;
  }
}

.project-feature {
  // Feature on the homepage
  .feature-link {
    text-decoration: none;
    color: #fff; // TODO

    &:hover {
      color: #000; // TODO

      footer {
        color: #000; // TODO
      }
    }
  }

  .project-title {
    font-size: var(--size-1);
    line-height: 1.05;
    font-weight: $font-weight-bold;
  }

  footer {
    margin-top: var(--spacing-025);
    @include text-footer();
    color: #fff; // TODO

    span {
      margin-left: var(--spacing-025);
    }
  }
}

.project-preview, .event-preview {
  a {
    text-decoration: none;
  }

  .project-title, .event-title {
    font-size: var(--size-1);
    line-height: 1.1;
    font-family: $font-family-serif;
    font-weight: $font-weight-medium;
  }

  .project-tag, .event-tag {
    @include text-tag();
  }

  footer {
    @include text-footer();
  }
}

.homepage-project {
  .project-name {
    font-size: var(--size-1);
    line-height: 1.05;
    font-weight: $font-weight-bold;
    // font-family: $font-family-serif;
    // font-weight: $font-weight-medium;
  }

  .project-intro {
    font-size: var(--size-5);
    font-weight: $font-weight-bold;
    line-height: 1.1;
    display: block;
  }

  .project-aside {
    font-size: var(--size-6);
    font-weight: $font-weight-bold;
  }

  .project-link {
    // font-size: var(--size-5);
    // font-weight: $font-weight-bold;
    // text-decoration: none;
  }
}

.homepage-event {
  .event-name {
    font-size: var(--size-1);
    line-height: 1.05;
  }

  .event-intro {
    font-size: var(--size-5);
    font-weight: $font-weight-bold;
    line-height: 1.1;
    display: block;
  }

  .event-time {
    font-size: var(--size-6);
    font-weight: $font-weight-bold;
    line-height: 1.1;
    // margin-top: var(--spacing-05);

    &:not([hidden]) {
      display: inline-block;
    }
  }

  .event-timezone {
    font-size: var(--size-7);
    font-weight: $font-weight-medium;
    line-height: 1.1;
    margin-top: var(--spacing-05);
  }

  .event-aside {
    font-size: var(--size-6);
    font-weight: $font-weight-bold;

    & > * {
      display: block;
    }
  }

  .event-timeago {
    @include text-tag();
  }
}

.project-footer, .event-footer, .member-footer, .alumni-footer {
  font-size: var(--size-7);
  color: var(--color-mute);
}

.start-time-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: var(--spacing-05);
  grid-row-gap: var(--spacing-0125);
}

.project-description, .member-description, .event-description {
  min-width: 0; // https://css-tricks.com/preventing-a-grid-blowout/

  p + p {
    margin-top: var(--spacing-05);
  }

  p + div, div + p {
    margin-top: var(--spacing-05);
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.1;
    text-transform: none;
    font-weight: $font-weight-bold;
    letter-spacing: 0;
    margin-bottom: var(--spacing-025);
    margin-top: var(--spacing-1);
  }

  h1 {
    font-size: var(--size-1);
  }

  h2 {
    font-size: var(--size-2);
  }

  h3 {
    font-size: var(--size-3);
  }

  h4 {
    font-size: var(--size-4);
  }

  h5 {
    font-size: var(--size-4);
    font-weight: $font-weight-medium;
  }

  h6 {
    font-size: var(--size-5);
  }

  ul, ol {
    margin-top: var(--spacing-05);
    margin-bottom: var(--spacing-05);

    li {
      padding-left: var(--spacing-1);
      // margin-left: var(--spacing-1);

      // padding: 0.2em $spacing 0.2em 1.6em;
      position: relative;
      // line-height: 1.5em;
      display: block;

      &:before {
        content: "—";
        @include gradient-text();
        position: absolute;
        left: 0;
      }
    }
  }

  ol {
    counter-reset: counter;

    li {
      counter-increment: counter;

      &:before {
        content: counter(counter) ". ";
        font-size: var(--font-size-s);
        top: 3px;
      }
    }
  }

  p, ul, ol {
    @include text-default();
  }

  pre, code {
    font-size: var(--font-size-s);
    font-weight: 400;
    letter-spacing: .32px;
    line-height: 1.33333;
  }

  p code {
    background-color: var(--color-border);
    border-radius: 2px;
    color: var(--color-text);
    display: inline;
    padding: 0 var(--spacing-0125);
  }

  pre {
    background-color: var(--color-bg-secondary);
    color: var(--color-text-invert);
    font-size: var(--font-size-s);
    padding: var(--spacing-0125);
    overflow-x: auto;
    margin: var(--spacing-1) 0;
  }

  blockquote {
    p {
      font-style: italic;
      font-size: var(--size-3);
      font-weight: $font-weight-medium;
      line-height: 1.3;
    }

    margin: var(--spacing-1) 0;
    padding-left: var(--spacing-1);
    @include gradient-border-left(var(--gradient-border-width));
  }
}

.page-footer {
  font-weight: $font-weight-default;
  line-height: 1.1;

  li, p {
    font-size: var(--size-6);
  }

  .footer-logos li {
    font-size: var(--size-6);
    font-weight: $font-weight-bold;
  }

  span {
    font-size: var(--size-7);
  }

  a {
    color: #fff;
    text-decoration: none;

    svg {
      height: calc(var(--size-5) * 0.9);
      stroke-width: 1.8px;
      vector-effect: non-scaling-stroke;
    }
  }
}