@import "./mixins";

$font-family-default: Inter, 'Helvetica Neue', Helvetica, system-ui, sans-serif;
$font-family-serif: 'Heuristica', serif;
$font-weight-default: 400 !default;
$font-weight-medium:  500 !default;
$font-weight-bold:    800 !default;

$narrow:				600px !default;
$medium:				900px !default;
$wide:        	1200px !default;
$extra-wide:    1700px !default;

$z-index-gallery: 1;
$z-index-btn: 2;
$z-index-counter: 3;

$z-index-page-menu: 12;
$z-index-page-menu-list: 12;
$z-index-page-menu-trigger: 13;
$z-index-page-search: 12;
$z-index-page-search-trigger: 13;
$z-index-search-input: 999;
$z-index-search-results: 999;

$z-index-header-items: 1;
$z-index-header-items-after: 0;
$z-index-about-header: 0;
$z-index-about-intro: 1;
$z-index-member-header: 2;
$z-index-member-header-before: 0;
$z-index-project-link: 1;
