<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    <header class="page-header" id="page-header">
      <div class="page-logo">
        <a href="{{ "/" | absURL }}" {{ if .IsHome }}class="isActive logo"{{ end }}><span id="page-logo">metalab</span></a>
      </div>
      <div class="page-menu" id="page-menu">
        <nav class="page-menu-list" id="page-menu-list">
          <ul class="page-menu-items">
            <li class="header until-medium"><a href="{{ "/" | absURL }}" {{ if .IsHome }}class="isActive" aria-current="page"{{ end }}><span>metalab</span></a></li>
            <li><a href="{{ "projects" | absURL }}" {{ if or (eq .Section "projects") (eq .Section "host") }}class="isActive"{{ end }}{{ if eq .RelPermalink "/projects/" }}aria-current="page"{{ end }}><span>Projects</span></a></li>
            <li><a href="{{ "events" | absURL }}" {{ if eq .Section "events" }}class="isActive"{{ end }}{{ if eq .RelPermalink "/events/" }}aria-current="page"{{ end }}><span>Events</span></a></li>
            <li><a href="{{ "members" | absURL }}" {{ if or (eq .Section "members") (eq .Section "alumni") }}class="isActive"{{ end }}{{ if or (eq .RelPermalink "/members/") (eq .RelPermalink "/alumni/") }}aria-current="page"{{ end }}><span>Members</span></a></li>
            <li><a href="{{ "about" | absURL }}" {{ if eq .RelPermalink "/about/" }}class="isActive" aria-current="page"{{ end }}><span>About</span></a></li>
            <li class="social until-medium">{{ partial "footer-social.html" . }}</li>
          </ul>
        </nav>
        <div class="page-menu-trigger center until-medium" id="page-menu-trigger">
          <svg xmlns="http://www.w3.org/2000/svg" class="trigger-icon icon icon-tabler icon-tabler-menu-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <line x1="4" y1="6" x2="20" y2="6"></line>
            <line x1="4" y1="12" x2="20" y2="12"></line>
            <line x1="4" y1="18" x2="20" y2="18"></line>
          </svg>
        </div>
      </div>
      <div class="page-search center" id="page-search">
      </div>
      {{ with .Section }}
      <div class="page-current-section center-right until-medium">
        <span>{{ title . }}</span>
      </div>
      {{ end }}
    </header>
    <main id="main" role="main" class="center-h">
      <div class="wrapper grid grid-v-default">
    	 {{ block "main" . }}{{ end }}
      </div>
    </main>
    <footer class="page-footer">
      <div class="footer-content wrapper grid">
        <ul class="footer-logos">
          <li>metalab(at)<br />harvard</li>
          <li>metalab(at)<br />fu_berlin</li>
        </ul>
        <p class="footer-info">{{ .Site.Params.Label.footer_text }}</p>
        <ul class="footer-sitemap">
          <li><a href="{{ "" | absURL }}">Home</a></li>
          <li><a href="{{ "about" | absURL }}">About</a></li>
          <li><a href="{{ "projects" | absURL }}">Projects</a></li>
          <li><a href="{{ "members" | absURL }}">Members</a></li>
          <li><a href="{{ "events" | absURL }}">Events</a></li>
        </ul>
        <div class="footer-social">
          {{ partial "footer-social.html" . }}
        </div>
        <span class="footer-update">
          <span>Last updated <time datetime="{{ now.Format "2006-01-02T15:04:05Z07:00" }}" title="{{ now.Format "Monday, 02 January 2006 15:04" }}">{{ now.Format "January 2006"}}</time></span><br />
          <span><a href="{{ "projects/index.xml" | absURL }}">Projects RSS</a></span><br />
          <span><a href="{{ "events/index.xml" | absURL }}">Events RSS</a></span>
        </span>
      </div>
    </footer>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="0"
      height="0"
      viewBox="0 0 24 24">
      <defs>
        <linearGradient id="icon-gradient">
          <stop offset="0%" stop-color="#FF4800" class="gradient-stop-a"></stop>
          <stop offset="100%" stop-color="#FFB600" class="gradient-stop-o"></stop>
        </linearGradient>
      </defs>
    </svg>
  </body>
</html>