<li class="event-preview h-entry h-event" role="listitem" {{ printf "data-id=%q" .event.Slug | safeHTMLAttr }}>
  <a href="{{ printf "e/%s" .event.Slug | absURL }}" class="u-url u-uid preview-link {{ if .event.Params.cover.url }}hasImage{{ end }}">
    {{ $defaultLabel := string (printf .defaultLabel .event.Title) }}
    {{ with .event.Params.Cover }}
    {{- partial "image.html" (dict "picture" . "alt" $defaultLabel "title" $defaultLabel "format" "cover" "class" "preview-image") -}}
    {{ end }}
    <span class="event-title p-name">{{ .event.Title }}</span>{{ with .event.Params.start_time }}<span class="event-tag" datetime="{{ dateFormat "2006-01-02T15:04:05-0700" . }}"></span>{{ end }}
    <footer class="footer">
      {{ if .type }}
      <span class="event-type p-category">{{ .type }}</span>
      {{ else }}
      {{ partial "span-category.html" (dict "category" .event.Params.Category "default" .defaultCategory) }}
      {{ end }}
      {{ with .event.Params.start_time }}<time datetime="{{ dateFormat "2006-01-02T15:04:05-0700" . }}" class="event-time">{{ dateFormat "2 January 2006" . }}</time>{{ end }}
      {{ partial "span-host.html" (dict "host" .event.Params.host "type" "event" "default" .defaultHost) }}
    </footer>
  </a>
</li>