{{ partial "icon-twitter.html" (dict "handle" .Site.Params.twitter "name" "us") }}
{{ partial "icon-instagram.html" (dict "handle" .Site.Params.instagram "name" "us") }}
{{ partial "icon-github.html" (dict "handle" .Site.Params.github "name" "us") }}
{{ partial "icon-mail.html" (dict "mail" .Site.Params.email "name" "us") }}
{{ partial "icon-soundcloud.html" (dict "handle" .Site.Params.soundcloud "name" "us") }}
{{ partial "icon-vimeo.html" (dict "handle" .Site.Params.vimeo "name" "us") }}
{{ partial "icon-youtube.html" (dict "handle" .Site.Params.youtube "name" "us") }}
