{{ partial "icon-facebook.html" (dict "handle" .Site.Params.Contact.facebook "name" "us") }}
{{ partial "icon-github.html" (dict "handle" .Site.Params.Contact.github "name" "us") }}
{{ partial "icon-instagram.html" (dict "handle" .Site.Params.Contact.instagram "name" "us") }}
{{ partial "icon-linkedin.html" (dict "handle" .Site.Params.Contact.linkedin "name" "us") }}
{{ partial "icon-mail.html" (dict "mail" .Site.Params.Contact.email "name" "us") }}
{{ partial "icon-soundcloud.html" (dict "handle" .Site.Params.Contact.soundcloud "name" "us") }}
{{ partial "icon-twitter.html" (dict "handle" .Site.Params.Contact.twitter "name" "us") }}
{{ partial "icon-vimeo.html" (dict "handle" .Site.Params.Contact.vimeo "name" "us") }}
{{ partial "icon-youtube.html" (dict "handle" .Site.Params.Contact.youtube "name" "us") }}
