{{ partial "icon-facebook.html" (dict "handle" .Site.Params.Contact.facebook "name" .Site.Params.Label.SocialMetalabSelf "template" .Site.Params.Label.SocialFacebookTitle) }}
{{ partial "icon-github.html" (dict "handle" .Site.Params.Contact.github "name" .Site.Params.Label.SocialMetalabSelf "template" .Site.Params.Label.SocialGithubTitle) }}
{{ partial "icon-instagram.html" (dict "handle" .Site.Params.Contact.instagram "name" .Site.Params.Label.SocialMetalabSelf "template" .Site.Params.Label.SocialInstagramTitle) }}
{{ partial "icon-linkedin.html" (dict "handle" .Site.Params.Contact.linkedin "name" .Site.Params.Label.SocialMetalabSelf "template" .Site.Params.Label.SocialLinkedinTitle) }}
{{ partial "icon-mail.html" (dict "mail" .Site.Params.Contact.email "name" .Site.Params.Label.SocialMetalabSelf "template" .Site.Params.Label.SocialEmailTitle) }}
{{ partial "icon-soundcloud.html" (dict "handle" .Site.Params.Contact.soundcloud "name" .Site.Params.Label.SocialMetalabSelf "template" .Site.Params.Label.SocialSoundcloudTitle) }}
{{ partial "icon-twitter.html" (dict "handle" .Site.Params.Contact.twitter "name" .Site.Params.Label.SocialMetalabSelf "template" .Site.Params.Label.SocialTwitterTitle) }}
{{ partial "icon-vimeo.html" (dict "handle" .Site.Params.Contact.vimeo "name" .Site.Params.Label.SocialMetalabSelf "template" .Site.Params.Label.SocialVimeoTitle) }}
{{ partial "icon-youtube.html" (dict "handle" .Site.Params.Contact.youtube "name" .Site.Params.Label.SocialMetalabSelf "template" .Site.Params.Label.SocialYouTubeTitle) }}
