<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ if .Params.Fulltitle }}{{ .Params.Fulltitle }} – {{ else if and .Title (not .IsHome) }}{{ .Title }} – {{ end }}{{ .Site.Title }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary | plainify | truncate 150 }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
  {{ with .Params.keyword -}}
  <meta name="keywords" content="{{ . }}">
  {{- else -}}
  <meta name="keywords" content="{{ .Site.Params.keywords }}">
  {{- end }}
  {{ if .Params.noindex -}}
  <meta name="robots" content="noindex" />
  {{ else -}}
  <meta name="robots" content="index,follow">
  {{- end }}

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/schema.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{- range .Params.Members_Twitter -}}
  <meta name="twitter:creator" content="@{{ . }}"/>
{{ end -}}

  {{- $defines := dict "process.env.NODE_ENV" `"production"` -}}
  {{- $js := resources.Get "js/index.js" | js.Build (dict "minify" true "defines" $defines) | fingerprint }}
  <script type="text/javascript" src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>

  {{- $svelte := resources.Get "/js/svelte.js" | js.Build (dict "minify" true) | fingerprint }}
  <script type="text/javascript" src="{{ $svelte.Permalink }}" integrity="{{ $svelte.Data.Integrity }}" defer></script>

  {{- $options := (dict "includePaths" (slice "node_modules")) -}}
  {{- $style := resources.Get "sass/main.scss" | resources.ToCSS $options | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

  {{- with .Page.OutputFormats.Get "rss" -}}
  {{- printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML -}}
  {{- end }}
  {{ if eq .Section "projects" -}}
  <link rel="index" href="{{ "projects" | absURL }}">
  {{- else if eq .Section "members" -}}
  <link rel="index" href="{{ "members" | absURL }}">
  {{- else if eq .Section "events" -}}
  <link rel="index" href="{{ "events" | absURL }}">
  {{- else if eq .Section "alumni" -}}
  <link rel="index" href="{{ "members" | absURL }}">
  {{- end }}

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | absURL }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | absURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | absURL }}">
  <link rel="manifest" href="{{ "manifest.json" | absURL }}">
  <link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | absURL }}" color="#ff0000">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <link rel="canonical" href="{{ .Permalink }}" />
  <link rel="author" href="{{ "humans.txt" | absURL }}">

  {{ partial "schema.html" . }}
</head>
