{{ $isPreview := .isPreview }}
{{ $original := .picture }}
{{ $large := .picture.formats.large }}
{{ $medium := .picture.formats.medium }}
{{ $small := .picture.formats.small }}
{{ $thumbnail := .picture.formats.thumbnail }}
{{/* This is the width of a single column in the layout */}}
{{/* We use this to multiply by the amount of columns the image uses */}}
{{ $column := "((min(90vw, 1280px) - min(2vw, 30px) * 11) / 12)" }}
{{ if and .picture.width .picture.height }}
<picture class="photo">
  {{ if eq $original.mime "image/jpeg" }}
  <source
    type="image/webp"
    {{/* This lists all the different image resolutions */}}
    {{/* We replace the original extension with WebP */}}
    srcset="
      {{ if $thumbnail.url -}}{{ replace $thumbnail.url $thumbnail.ext ".webp" }} {{ $thumbnail.width }}w{{ end }}{{ if $small.url }},
      {{ replace $small.url $small.ext ".webp" }} {{ $small.width }}w{{ end }}{{ if $medium.url }},
      {{ replace $medium.url $medium.ext ".webp" }} {{ $medium.width }}w{{ end }}{{ if $large.url }},
      {{ replace $large.url $large.ext ".webp" }} {{ $large.width }}w{{- end -}}{{- if and $original.url (gt $original.width $large.width) -}},
      {{ replace $original.url $original.ext ".webp" }} {{ $original.width }}w{{ end }}
    "
    sizes="
      {{ if $isPreview }}
      {{/* These are the different sizes the member picture can have on the single member page */}}
      (min-width: 900px) calc(min({{ $column }} * 2, 20vw)),
      (min-width: 1200px) calc(min({{ $column }} * 3, 20vw)),
      calc(min({{ $column }} * 4, 20vw))
      {{ else }}
      (min-width: 900px) 160px,
      (min-width: 1200px) 120px,
      80px
      {{ end }}
    "
    />
  {{ end }}
  <source
    type="{{ $original.mime }}"
    {{/* This lists all the different image resolutions */}}
    srcset="
      {{ if $thumbnail.url -}}{{ $thumbnail.url }} {{ $thumbnail.width }}w{{ end }}{{ if $small.url }},
      {{ $small.url }} {{ $small.width }}w{{ end }}{{ if $medium.url }},
      {{ $medium.url }} {{ $medium.width }}w{{ end }}{{ if $large.url }},
      {{ $large.url }} {{ $large.width }}w{{- end -}}{{- if and $original.url (gt $original.width $large.width) -}},
      {{ $original.url }} {{ $original.width }}w{{ end }}
    "
    sizes="
      {{ if $isPreview }}
      {{/* These are the different sizes the member picture can have on the single member page */}}
      (min-width: 900px) calc(min({{ $column }} * 2, 20vw)),
      (min-width: 1200px) calc(min({{ $column }} * 3, 20vw)),
      calc(min({{ $column }} * 4, 20vw))
      {{ else }}
      (min-width: 900px) 160px,
      (min-width: 1200px) 120px,
      80px
      {{ end }}
    "
    />
  {{ if .picture.url }}
  <img
    {{ printf "src=%v" .picture.url | safeHTMLAttr }}
    loading="lazy"
    {{ if .picture.alternativeText }}
    {{ printf "alt=%q" .picture.alternativeText | safeHTMLAttr }}
    {{ else }}
    {{ with .alt }}{{ printf "alt=%q" . | safeHTMLAttr }}{{ end }}
    {{ end }}
    {{ if .picture.caption }}
    {{ printf "title=%q" .picture.caption | safeHTMLAttr }}
    {{ else }}
    {{ with .title }}{{ printf "title=%q" . | safeHTMLAttr }}{{ end }}
    {{ end }}
    height="{{ .picture.height }}px"
    width="{{ .picture.width }}px">
  {{ end }}
</picture>
{{ end }}
