<dd class="related-link {{ with .class }}related-{{ . }}{{ end }}" role="listitem" {{ if eq .class "collaborator" }}itemprop="contributor"{{ end }}>
  {{- if and .url .label -}}
  <a href="{{ .url }}" rel="noopener noreferrer external" target="_blank">{{ partial "shorten.html" (dict "Text" .label) }}</a>
  {{- else if .label -}}
  <span>{{ partial "shorten.html" (dict "Text" .label) }}</span>
  {{- else -}}
  <a href="{{ .url }}" rel="noopener noreferrer external" target="_blank">{{ partial "shorten.html" (dict "Text" .url) }}</a>
  {{- end -}}
</dd>