<li role="listitem" {{ printf "data-id=%q" .member.Slug | safeHTMLAttr }}>
  <a href="{{ printf "m/%s" .member.Slug | absURL }}" class="member-preview vcard">
    {{ $name := .member.Params.Name }}
    {{ $defaultLabel := .defaultLabel }}
    {{ with .member.Params.Picture -}}
    {{- partial "image.html" (dict "picture" . "alt" $defaultLabel "title" $defaultLabel "format" "memberPreview") -}}
    {{- end }}
    <strong class="member-name fn p-name">{{ $name }}</strong>
    <span class="member-role role">{{ .member.Params.Role_string }}</span>
  </a>
</li>