<li class="project-feature h-entry" role="listitem">
  <a href="{{ printf "p/%s" .project.Slug | absURL }}" class="u-url u-uid feature-link">
    {{ $defaultLabel := string (printf .imageLabelTemplate .project.Params.Title) }}
    {{ with .project.Params.Feature }}
    {{- partial "image.html" (dict "picture" . "alt" $defaultLabel "title" $defaultLabel "class" "feature-image") -}}
    {{ end }}
    <div class="feature-title">
      <div class="feature-frame">
        <span class="project-title p-name">{{ .project.Params.Title }}</span>
        <footer class="project-details">
          {{ partial "span-timespan.html" (dict "start" .project.Params.Start "end" .project.Params.End) }}
        </footer>
      </div>
    </div>
  </a>
</li>