<li class="project-preview h-entry">
  <a href="{{ .project.Slug | absURL }}" class="u-url u-uid">
    <span class="project-title p-name">{{ .project.Params.Title }}</span><span class="project-tag">{{ .CurrentSection }}</span>
    <footer>
      {{ partial "span-category.html" (dict "category" .project.Params.Category "type" "project") }}
      {{ partial "span-timespan.html" (dict "start" .project.Params.Start "end" .project.Params.End) }}
      {{ partial "span-location.html" (dict "location" .project.Params.location "type" "project") }}
    </footer>
  </a>
</li>