{{- $label := .label }}
{{- $class := .class }}
{{- with .items }}
<dl {{ printf `class="related-%s"` ($class | pluralize) | safeHTMLAttr }}>
  <dt class="title">{{ (cond (or (eq (len .) 1) (eq $class "articles")) ($label) ($label | pluralize) | title) }}</dt>
  <div {{ printf `class="related-%s-list"` ($class | pluralize) | safeHTMLAttr }} role="list">
    {{ range sort . "label" }}
      {{ partial "list-item.html" (dict "url" .url "label" .label "class" $class) }}
    {{ end }}
  </div>
</dl>
{{- end }}