{{- if or .start .end -}}
<span>
  {{- if and .start .end -}}
  {{- if (eq (dateFormat "January 2006" .start) (dateFormat "January 2006" .end)) -}}
  <time datetime="{{ dateFormat "2006-01-02" .end }}" class="project-start project-end" itemprop="endDate" content="{{ dateFormat "2006-01-02" .end }}">
  {{- dateFormat "January 2006" .start -}}
  {{- else -}}
  <time datetime="{{ dateFormat "2006-01-02" .start }}" class="project-start" itemprop="startDate" content="{{ dateFormat "2006-01-02" .start }}">
    {{- dateFormat "January" .start -}}
    {{- if not (eq (dateFormat "2006" .start) (dateFormat "2006" .end)) -}}&ensp;
    {{- dateFormat "2006" .start -}}
    {{- end -}}
  </time>&ensp;–&ensp;<time datetime="{{ dateFormat "2006-01-02" .end }}" class="project-end" itemprop="endDate" content="{{ dateFormat "2006-01-02" .end }}">{{ dateFormat "January 2006" .end }}</time>
  {{- end -}}
  {{- else if .start -}}
  <time datetime="{{ dateFormat "2006-01-02" .start }}" class="project-start" itemprop="startDate" content="{{ dateFormat "2006-01-02" .start }}">Since {{ dateFormat "January 2006" .start }}</time>
  {{- else -}}
  <time datetime="{{ dateFormat "2006-01-02" .end }}" class="project-end" itemprop="endDate" content="{{ dateFormat "2006-01-02" .end }}">{{ dateFormat "January 2006" .end }}</time>
  {{- end -}}
</span>
{{- end -}}