{{ if eq (dateFormat "2006" .start) (dateFormat "2006" .end) }}
  {{ if eq (dateFormat "2006-01-02" .start) (dateFormat "2006-01-02" .end) }}
    {{ if eq (dateFormat "2006-01-02T15" .start) (dateFormat "2006-01-02T15" .end) }}
      {{ if eq (dateFormat "2006-01-02T15:04" .start) (dateFormat "2006-01-02T15:04" .end) }}
        {{/* Same minute */}}
        {{ $fStart := "Monday, Jan 2 2006 at 3:04&thinsp;pm" }}
        {{ if eq .lang "de" }}{{ $fStart = "Monday, 2 Jan 2006 at 15:04" }}{{ end }}
        {{ partial "span-timeTemplate.html" (dict "fStart" $fStart "fEnd" "" "start" .start "end" .end "tz" .tz) }}
      {{ else }}
        {{/* Not the same minute */}}
        {{ $fStart := "Mon, Jan 2 2006 at 3:04pm" }}
        {{ if eq .lang "de" }}{{ $fStart = "Mon, 2 Jan 2006 at 15:04" }}{{ end }}
        {{ $fEnd := "3:04&thinsp;pm" }}
        {{ if eq .lang "de" }}{{ $fEnd = "15:04" }}{{ end }}
        {{ partial "span-timeTemplate.html" (dict "fStart" $fStart "fEnd" "3:04&thinsp;pm" "start" .start "end" .end "tz" .tz) }}
      {{ end }}
    {{ else }}
      {{/* Not the same hour */}}
      {{ $fStart := "Mon, Jan 2 06 at 3:04&thinsp;pm" }}
      {{ if eq .lang "de" }}{{ $fStart = "Mon, 2 Jan 06 at 15:04" }}{{ end }}
      {{ $fEnd := "3:04&thinsp;pm" }}
      {{ if eq .lang "de" }}{{ $fEnd = "15:04" }}{{ end }}
      {{ partial "span-timeTemplate.html" (dict "fStart" $fStart "fEnd" $fEnd "start" .start "end" .end "tz" .tz) }}
    {{ end }}
  {{ else }}
    {{/* Not the same month or day */}}
    {{ $fStart := "Jan 2 06 at 3:04&thinsp;pm" }}
    {{ if eq .lang "de" }}{{ $fStart = "2 Jan 06 at 15:04" }}{{ end }}
    {{ $fEnd := "Jan 2 at 3:04&thinsp;pm" }}
    {{ if eq .lang "de" }}{{ $fEnd = "2 Jan at 15:04" }}{{ end }}
    {{ partial "span-timeTemplate.html" (dict "fStart" $fStart "fEnd" $fEnd "start" .start "end" .end "tz" .tz) }}
  {{ end }}
{{ else }}
  {{/* Not the same year */}}
  {{ $f := "Jan 2 2006 at 3:04&thinsp;pm" }}
  {{ if eq .lang "de" }}{{ $f = "2 Jan 2006 at 15:04" }}{{ end }}
  {{ partial "span-timeTemplate.html" (dict "fStart" $f "fEnd" $f "start" .start "end" .end "tz" .tz) }}
{{ end }}
