{{ define "main" }}
  <div class="grid-full home-intro">
    <h2 class="intro">{{ .Site.Params.description }}</h2>
    <a href="{{ "about" | absURL }}" class="btn">Learn more</a>
  </div>
  <div class="grid-wide home-projects">
    <h3>Recent projects and events</h3>
    <ul>
    {{ range (where .Site.RegularPages "Section" "in" (slice "projects" "events")) }}
      {{ if eq .Section "events" }}
      {{ partial "event-preview.html" (dict "event" . "type" "event")}}
      {{ else }}
      {{ partial "project-preview.html" (dict "project" . "type" "project" )}}
      {{ end }}
    {{ end }}
    </ul>
  </div>
{{ end }}
