{{ define "main" }}
  <section class="homepage-event grid-full grid h-event" vocab="https://schema.org/" typeof="Event">
    <header class="event-header grid-wide">
      {{ with .Params.Start_time }}<span class="event-timeago timeago" datetime="{{ dateFormat "2006-01-02 03:04:05 UTC" . }}"></span>{{ end }}
      <h1 class="event-name p-name" property="name">{{ .Params.Title }}</h1>
      {{ with .Params.Intro }}<span class="event-intro p-summary">{{ . | markdownify }}</span>{{ end }}
      {{ if or (.Params.Start_time) (.Params.ExternalLink) }}
      <div class="event-header-bar">
        {{ if .Params.Start_time }}
        <div class="timezone-tabs">
          <nav role="tablist" aria-label="Timezone selection">
            <button class="event-timezone btn-tab" role="tab" aria-controls="panel-boston" id="tab-boston" aria-selected="true" tabindex="0" title="{{ .Site.Params.Label.AriaTimezoneBoston }}">{{ .Site.Params.Label.label_timezone_boston }}</button>
            <button class="event-timezone btn-tab" role="tab" aria-controls="panel-berlin" id="tab-berlin" aria-selected="false" tabindex="-1" title="{{ .Site.Params.Label.AriaTimezoneBerlin }}">{{ .Site.Params.Label.label_timezone_berlin }}</button>
          </nav>
          <div class="timezone-content">
            <time
              class="event-time"
              role="tabpanel"
              id="panel-boston"
              tabindex="0"
              aria-labelledby="tab-boston"
              property="startDate"
              content="{{ dateFormat "2006-01-02T15:04:05-0700" .Params.Start_time_locations.New_York }}"
              datetime="{{ dateFormat "2006-01-02T15:04:05-0700" .Params.Start_time_locations.New_York }}">
              {{- (dateFormat "Monday, 2 January 2006 3:04&thinsp;pm" .Params.Start_time_locations.New_York) | safeHTML }} {{ .Site.Params.timezoneBoston }}</time>
            <time
              class="event-time"
              role="tabpanel"
              id="panel-berlin"
              tabindex="-1"
              aria-labelledby="tab-berlin"
              hidden
              property="startDate"
              content="{{ dateFormat "2006-01-02T15:04:05-0700" .Params.Start_time_locations.Berlin }}"
              datetime="{{ dateFormat "2006-01-02T15:04:05-0700" .Params.Start_time_locations.Berlin }}">
              {{- (dateFormat "Monday, 2 January 2006 3:04&thinsp;pm" .Params.Start_time_locations.Berlin) | safeHTML }} {{ .Site.Params.timezoneBerlin }}</time>
          </div>
        </div>
        {{ end }}
        {{ $label := .Site.Params.Label.ExternalEvent }}
        {{ with .Params.ExternalLink -}}
        <div class="event-link">
          <a class="btn" href="{{ . }}" rel="noopener noreferrer external" target="_blank"><span>{{ $label }}</span></a>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </header>
    {{ $events := .Params.Events }}
    {{ $members := .Params.Members }}
    {{ $projects := .Params.Projects }}
    {{ $collaborators := .Params.Collaborators }}
    <aside class="event-relations grid-wide grid grid-v-default half">
      <div class="box-item">
        <dt class="title">TODO</dt>
        <dd class="text"><a href="{{ (printf `%s.ics` .Slug) | absURL }}">iCal</a></dd>
      </div>
      {{ $title := .Site.Params.Label.BoxType }}
      {{ with .Params.Category }}
      <div class="box-item">
        <dt class="title">{{ $title }}</dt>
        <dd class="text event-type">{{ title (replace . "_" " ") }}</dd>
      </div>
      {{ end }}
      {{ $title := .Site.Params.Label.BoxLocation }}
      {{ with .Params.location }}
      <div class="box-item">
        <dt class="title">{{ $title }}</dt>
        <dd class="text event-location" itemprop="location">{{ . }}</dd>
      </div>
      {{ end }}
      {{ partial "related-items.html" (dict "items" $members "term" .Site.Params.Label.RelatedMembers "label" .Site.Params.Label.RelatedLabelMembers "class" "member" "root" "event") }}
      {{ partial "related-collaborators.html" (dict "items" $collaborators "label" .Site.Params.Label.boxCollaborator "class" "collaborator") }}
      {{ partial "related-items.html" (dict "items" $projects "term" .Site.Params.Label.RelatedProjects "label" .Site.Params.Label.RelatedLabelProjects "class" "project") }}
      {{ partial "related-items.html" (dict "items" $events "term" .Site.Params.Label.RelatedEvents "label" .Site.Params.Label.RelatedLabelEvents "class" "event") }}
    </aside>
    {{ with .Params.Link }}
    <a class="event-link u-url" href="{{ . }}" rel="noopener noreferrer external" target="_blank"><span>Visit event</span></a>
    {{ end }}
    {{ with .Content }}
    <div class="event-description grid-narrow-right e-content p-description">
      {{ . }}
    </div>
    {{ end }}
    {{ partial "related-list.html" (dict "items" .Params.Links "label" .Site.Params.Label.relatedLabelLinks "class" "links") }}
    <footer class="event-footer grid-narrow-right" role="contentinfo">
      <span>Page published on <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}">{{ .PublishDate.Format "2 January 2006" }}</time>{{ if not (eq (.PublishDate.Format "2 January 2006") (.Lastmod.Format "2 January 2006"))}} and last edited on <time class="article-date" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Lastmod.Format "2 January 2006" }}</time>{{ end }}.</span>
    </footer>
  </section>
{{ end }}