{{ define "main" }}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Event",
      "name": {{ .Params.Fulltitle }},
      {{ with .Params.Cover.url -}} "image": {{ . }},{{ end }}
      {{ with .Params.Intro }}"description": {{ plainify . }},{{ end }}
      "eventStatus": "https://schema.org/EventScheduled",
      {{ with .Params.Start_time }}"startDate": {{ dateFormat "2006-01-02T03:04:05+01:00" . }},{{ end }}
      {{ with .Params.End_time }}"endDate": {{ dateFormat "2006-01-02T03:04:05+01:00" . }},{{ end }}
      "organizer": [{{ range $i, $e := .Params.Members }}{{ if $i }}, {{ end }}{"@type": "Person","name": {{ $e.label }}}{{ end }}]
    }
  </script>
  <section class="homepage-event grid-full grid h-event" vocab="https://schema.org/" typeof="Event">
    <header class="event-header grid-wide">
      {{ with .Params.Start_time }}<span class="event-timeago timeago" datetime="{{ dateFormat "2006-01-02 03:04:05 UTC" . }}"></span>{{ end }}
      <div class="title-wrapper">
        <h1 class="event-name p-name" property="name">{{ .Params.Title }}</h1>
        {{ if or (eq .Params.Status "postponed") (eq .Params.Status "canceld") }}<span class="event-status">{{ .Params.Status }}</span>{{ end }}
      </div>
      {{ with .Params.Subtitle }}<h2 class="event-subtitle">{{ . }}</h2>{{ end }}
      {{ with .Params.Intro }}<span class="event-intro p-summary">{{ . | markdownify }}</span>{{ end }}
      {{ if or (.Params.Start_time) (.Params.ExternalLink) }}
      <div class="event-header-bar">
        {{ if .Params.Start_time }}
        <div class="timezone-tabs">
          <nav role="tablist" aria-label="Timezone selection">
            <button class="event-timezone btn-tab" role="tab" aria-controls="panel-boston" id="tab-boston" aria-selected="true" tabindex="0" title="{{ .Site.Params.Label.AriaTimezoneBoston }}">{{ .Site.Params.Label.label_timezone_boston }}</button>
            <button class="event-timezone btn-tab" role="tab" aria-controls="panel-berlin" id="tab-berlin" aria-selected="false" tabindex="-1" title="{{ .Site.Params.Label.AriaTimezoneBerlin }}">{{ .Site.Params.Label.label_timezone_berlin }}</button>
          </nav>
          <div class="timezone-content">
            <span
              class="event-time"
              role="tabpanel"
              id="panel-boston"
              tabindex="0"
              aria-labelledby="tab-boston">
              {{ partial "span-eventspan.html" (dict "start" .Params.Start_time_locations.Boston "end" .Params.End_time_locations.Boston "tz" .Site.Params.Label.timezoneBostonAbbr) }}
            </span>
            <span
              class="event-time"
              role="tabpanel"
              id="panel-berlin"
              tabindex="-1"
              aria-labelledby="tab-berlin"
              hidden>
              {{ partial "span-eventspan.html" (dict "start" .Params.Start_time_locations.Berlin "end" .Params.End_time_locations.Berlin "tz" .Site.Params.Label.timezoneBerlinAbbr) }}
            </span>
          </div>
        </div>
        {{ end }}
        {{ $label := .Site.Params.Label.ExternalEvent }}
        {{ with .Params.ExternalLink -}}
        <div class="event-link">
          <a class="btn" href="{{ . }}" rel="noopener noreferrer external" target="_blank"><span>{{ $label }}</span></a>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </header>
    {{ $events := .Params.Events }}
    {{ $members := .Params.Members }}
    {{ $projects := .Params.Projects }}
    {{ $collaborators := .Params.Collaborators }}
    {{ $funders := .Params.Funders }}
    {{ if or (isset .Params "events") (isset .Params "members") (isset .Params "projects") (isset .Params "collaborators") (isset .Params "category") (isset .Params "location") }}
    <dl class="event-relations grid-wide grid grid-v-default half">
      {{ $title := .Site.Params.Label.BoxType }}
      {{ with .Params.Category }}
      <div class="box-item">
        <dt class="title">{{ $title }}</dt>
        <dd class="text event-type">{{ title (replace . "_" " ") }}</dd>
      </div>
      {{ end }}
      {{ $title := .Site.Params.Label.BoxLocation }}
      {{ with .Params.location }}
      <div class="box-item">
        <dt class="title">{{ $title }}</dt>
        <dd class="text event-location" itemprop="location">{{ . }}</dd>
      </div>
      {{ end }}
      {{ partial "related-items.html" (dict "items" $members "term" .Site.Params.Label.RelatedMembers "label" .Site.Params.Label.RelatedLabelMembers "class" "member" "root" "event") }}
      {{ partial "related-collaborators.html" (dict "items" $collaborators "label" .Site.Params.Label.boxCollaborator "class" "collaborator") }}
      {{ partial "related-collaborators.html" (dict "items" $funders "label" .Site.Params.Label.boxFunder "class" "funders") }}
      {{ partial "related-items.html" (dict "items" $projects "term" .Site.Params.Label.RelatedProjects "label" .Site.Params.Label.RelatedLabelProjects "class" "project") }}
      {{ partial "related-items.html" (dict "items" $events "term" .Site.Params.Label.RelatedEvents "label" .Site.Params.Label.RelatedLabelEvents "class" "event") }}
      {{ partial "related-list.html" (dict "items" .Params.Links "label" .Site.Params.Label.relatedLabelLinks "class" "links") }}
      {{ partial "related-list.html" (dict "items" .Params.Press_articles "label" .Site.Params.Label.relatedLabelPressArticles "class" "articles") }}
    </dl>
    {{ end }}
    {{ if not .Params.noHeaderImage }}
    {{ $defaultLabel := string (printf .Site.Params.Label.AriaGeneralPicture .Params.Title) }}
    {{ with .Params.Header -}}
    <div class="event-header grid-wide">
      {{- partial "image.html" (dict "picture" . "alt" $defaultLabel "title" $defaultLabel "class" "project-header-image" "format" "wide") -}}
    </div>
    {{ end }}
    {{ end }}
    <aside class="event-share grid-narrow-right-aside">
      {{ if .Params.Start_time }}{{ partial "icon-calendar.html" (dict "url" ((printf `/e/%s.ics` .Slug) | absURL) "title" "Download event as iCal file") }}{{ end }}
      {{ partial "share-twitter.html" (dict "url" .Permalink "text" .Params.Fulltitle "via" .Site.Social.twitter) }}
      {{ partial "share-facebook.html" (dict "url" .Permalink "text" .Params.Fulltitle) }}
    </aside>
    {{ with .Params.Link }}
    <a class="event-link u-url" href="{{ . }}" rel="noopener noreferrer external" target="_blank"><span>Visit event</span></a>
    {{ end }}
    {{ with .Content }}
    <div class="event-description grid-narrow-right e-content p-description content">
      {{ . }}
    </div>
    {{ end }}
    {{ partial "gallery.html" (dict "gallery" .Params.gallery "defaultLabel" .Site.Params.Label.AriaGeneralPicture "class" "event" "title" .Params.Title) }}
    <footer class="event-footer grid-narrow-right" role="contentinfo">
      {{ partial "span-published.html" (dict "PublishDate" .PublishDate "Lastmod" .Lastmod  "PublishText" .Site.Params.Label.pagePublishedText "EditText" .Site.Params.Label.pageEditedText "DateFormat" .Site.Params.Label.pagePublishedFormat) }}
    </footer>
  </section>
{{ end }}