{{ define "main" }}
  <section class="homepage-event grid-full grid h-event">
    <header class="event-header grid-wide">
      <h1 class="event-name p-name">{{ .Params.Title }}</h1>
      {{ with .Params.Intro }}<span class="event-intro p-summary">{{ . | markdownify }}</span>{{ end }}
    </header>
    <aside class="event-aside grid-narrow-right-aside">
      {{ with .Params.Time }}<time class="event-time">{{ dateFormat "January 2006" . }}</time>{{ end }}
      {{ with .Params.Location }}<span class="event-location p-location">{{ . }}</span>{{ end }}
    </aside>
    {{ with .Params.Link }}
    <a class="event-link u-url" href="{{ . }}"><span>Visit event</span></a>
    {{ end }}
    {{ with .Params.Description }}
    <div class="event-description grid-narrow-right e-content p-description">
      {{ . | markdownify }}
    </div>
    {{ end }}
    {{ with .Params.Members }}
    {{ partial "related-members.html" (dict "members" . "term" "Involved") }}
    {{ end }}
    {{ with .Params.Projects }}
    {{ partial "related-projects.html" (dict "projects" . "term" "Related") }}
    {{ end }}
  </section>
{{ end }}