{{ define "main" }}
  <section class="homepage-members-list grid-full">
    <menu class="members-labs-menu">
      <li><a href="/members/">All</a></li>
      {{ range $name, $taxonomy := index .Site.Taxonomies "members/labs" }}
        <li><a href="{{ .Page.Permalink }}" data-count="{{ len $taxonomy }}">{{.Page.Title}}</a></li>
      {{ end }}
    </menu>

    <ul class="grid member-list" role="list">
      {{ $templateLabel := .Site.Params.Label.AriaProfilePicture }}
      {{ range (((where (where .Pages "Params.picture" "!=" nil) "Params.isalumnus" false).ByParam "Name").ByParam "start").ByParam "rank" }}
        {{ $defaultLabel := string (printf $templateLabel .Params.name) }}
        {{ partial "preview-member.html" (dict "member" . "defaultLabel" $defaultLabel) }}
      {{ end }}
      {{ range ((where (where .Pages "Params.picture" "==" nil) "Params.isalumnus" false).ByParam "Name").ByParam "rank" }}
        {{ partial "preview-member.html" (dict "member" .) }}
      {{ end }}
    </ul>
  </section>
  {{ $alumniList := (where .Pages "Params.isalumnus" true) }}
  {{ if gt (len $alumniList) 0  }}
  <section class="homepage-alumni-list grid-full">
    <h1 id="community" class="alumni-list-header">Alumni</h1>
    <ul class="grid alumni-list" role="list">
    {{ range (sort $alumniList "Params.name") }}
      <li role="listitem" {{ printf "data-id=%q" .Params.Slug | safeHTMLAttr }}>
        <a href="{{ printf "m/%s" .Params.Slug | absURL }}" class="alumni-preview vcard" vocab="https://schema.org/" typeof="Person">
          <strong class="alumni-name fn p-name" property="name">{{ .Params.Name }}</strong>
        </a>
      </li>
    {{ end }}
    </ul>
  </section>
  {{ end }}
{{ end }}
