{{ define "main" }}
  <section class="homepage-members-list grid-full">
    <h1>Members</h1>
    <ul class="grid member-list" role="list">
      {{ range (sort .Pages "Params.rank" "asc") }}
      <li>
        <a href="{{ .Slug | absURL }}" class="member-preview vcard" role="listitem">
          {{ partial "image.html" (dict "picture" .Params.Picture "alt" (printf "Profile picture of %s" .Params.Name)) }}
          <strong class="member-name fn p-name">{{ .Params.Name }}</strong>
          <span class="member-role role">{{ .Params.Role_string }}</span>
        </a>
      </li>
      {{ end }}
    </ul>
  </section>
  <section class="homepage-alumni-list grid-full">
    <h1>Alumni</h1>
    <ul class="grid alumni-list" role="list">
    {{ range (where .Site.Pages "Section" "alumni") }}
      <li class="alumni-preview vcard" role="listitem">
        <strong class="alumni-name fn p-name">{{ .Params.Name }}</strong>
      </li>
    {{ end }}
    </ul>
  </section>
{{ end }}